<nav class="bg-gray-800 text-white p-4 fixed w-full top-0 z-10">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-lg font-bold" routerLink="/">SkyPlanLearner</a>
        <div class="flex space-x-4">
            <a routerLink="/" routerLinkActive="font-bold text-gray-300" class="cursor-pointer hover:text-gray-300">
                Home
            </a>
            <a routerLink="/airports" routerLinkActive="font-bold text-gray-300"
                class="cursor-pointer hover:text-gray-300">
                Airports
            </a>
        </div>
    </div>
</nav>